body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  /* background-color: #f5f5f0; */
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.left-half {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  margin-left: 100px;
}
.right-half {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 200px;
  margin-right: 100px;
}

.nav-menu {
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.nav-menu li {
  list-style-type: none;
  margin: 5px;
}
.nav-menu li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.logo img {
  width: 150px;
  height: 150px;
}
.circle {
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}


.map-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  position: relative;
  
}


.map-area {
  display: flex;
  width: 600px;
}

.details {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: baseline;
}
.divider {
  border: 1px solid grey;
}

.request-btn {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 30px;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
}

.request-btn:hover {
  background-color: #555;
  cursor: pointer;
}

.car-container {
  /* height: 100%;/ */
  position: absolute;
  top: 20;
  right: 15px;
}


.reset {
  margin-top: 3px
}


/* 
////////// MOBILE VIEW ///////////
*/

@media only screen and (max-width: 990px) {
   .map-container {
    display: flex;
    flex-direction: column;
    position: static;
    justify-content: center;
    align-items: center;
  }
  .car-container {
    position: static;
    width: 50%;
    align-self: center;
  }
}

@media only screen and (max-width: 600px) {
  
  .nav-container {
    display: block
  }
  .left-half {
    display: flex;
    flex-direction: column;
  }
  .right-half, .logo {
    display: none;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
  }

  .carousel {
    height: 200px;
    margin: 0 auto;
  }

  .map-container {
    display: flex;
    flex-direction: column;
    position: static
  }
  .car-container {
    position: static;
    width: 100%
  }
  
}